<h2>Department Details</h2>

<h4>You have selected DepartmentId : {{departmentId}}</h4>
<h4>Id : {{department.id}}</h4>
<h4>Name : {{department.name}}</h4>

<br><br>

<div>
    <a (click) = "goToOverview()">Overview</a>
    <a (click) = "goToContact()">Contact</a>
</div>
<br>
<div>
    <router-outlet></router-outlet>
</div>
<br><br>
<div>
    <a (click)="goToPrevious()">Previuos</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a (click)="goToNext()">Next</a>
</div>

<br>

<div>
    <a routerLink = '/departments'>Go to Departments</a>
</div>

<br>

<div>
    <button (click) = "goToBack()">Back</button>
</div>

