<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<h2>Angular Tutorial Code</h2>


<a routerLink='/home'>Home</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/interpolation'>Interpolation</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/property-binding'>Property Binding</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/class-binding'>Class Binding</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/style-binding'>Style Binding</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/event-binding'>Event Binding</a>
<router-outlet></router-outlet>
