<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<h2>Angular Tutorial Code</h2>


<a routerLink='/home'>Home</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/interpolation'>Interpolation</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/property-binding'>Property Binding</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/class-binding'>Class Binding</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/style-binding'>Style Binding</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/event-binding'>Event Binding</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/temp-ref-var'>Temp Ref Var Binding</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/two-way-binding'>Two Way Binding</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<a routerLink='/ng-if'>ngIf</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/ng-switch'>ngSwitch</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/ng-for'>ngFor</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/parent'>Parent-Child</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/pipes'>Pipes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/svg'>SVG</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink='/emp-list'>Emp List</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<div class='body' style="margin: 20px 20px 20px 10px;">
    <router-outlet></router-outlet>
</div>

